* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  padding: 20px;
  display: grid;
  margin: 0;
  background-image: radial-gradient(circle, rgb(255, 255, 255), rgb(0, 0, 0));
}

h2 {
  font-family: "Arial Black", sans-serif;
  font-size: 4.5em;
  letter-spacing: -1px;
  background-color: black;
  color: white;
  display: inline-block;
}
.block-title {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 20px;
  background-image: url("https://mdn.mozillademos.org/files/6457/mdn_logo_only_color.png");
}
.img-top {
  display: inline;
  width: 25%;
}
input {
  width: 40%;
  font-size: 1.3rem;
  background: #fff;
  border: none;
  border-bottom: 2px solid #000;
  color: rgb(76, 11, 95);
  margin-bottom: 25px;
}

.content {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/portfolio-react-5f0f7.appspot.com/o/i.png?alt=media&token=d6fb8ff3-f401-4cd4-8a74-07186ce26200");
  background-size: contain;
}
.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 5px;
  padding: 1rem;
  align-items: center;
}
.card {
  display: block;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 5px;
  margin-right: 5px;
}

.card p {
  text-align: center;
  padding: 5px;
  background-color: black;
  color: white;
  margin: 0;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
h3 {
  font-size: 5rem;
  text-align: center;
  height: 10vh;
  color: #fcedd8;
  margin: 10px 0 25px 0;
  font-family: "Niconne", cursive;
  font-weight: 700;
  text-shadow: 5px 5px 0px #eb452b, 10px 10px 0px #efa032;
}
